.home {
  background-image: url("../../images/background.jpg");
  padding: 250px 0;
  background-size: cover;
  position: relative;
  text-align: center;
  color: #fff;
}
.home-inner h2,
.home-inner h1 {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 500;
  line-height: 1.4;
}
.home-inner h1 {
  font-size: 45px;
}
.home-inner p {
  font-size: 15px;
  letter-spacing: 0.4px;
  line-height: 1.5;
}
.home-inner a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(to right, #42b773 0%, #a9dc56 100%);
  display: inline-block;
  padding: 20px 60px;
  margin-top: 30px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
}
.home::after {
  content: "";
  width: 157px;
  height: 68px;
  background-image: url("../../images/whitemon.png");
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* .home-inner a:hover {
  background: linear-gradient(to right, #42b773 0%, #42b773 100%);
  transition: 0.3s;
} */
.home-inner a::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0; /*растягивает*/
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #42b773 0%, #42b773 100%);
  transition: 0.5s;
  opacity: 0;
  z-index: -1;
  border-radius: 5px;
}
.home-inner a:hover::before {
  opacity: 1;
}
